<flynt-component name="SliderTestimonials" load:on="visible" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="container" data-flow="layout">
    {% if preContentHtml %}
      <div data-size="medium" data-align="center" data-text-align="center">
        {{ preContentHtml|e('wp_kses_post') }}
      </div>
    {% endif %}

    {% if testimonials %}
      <div data-ref="slider" class="slider swiper-container" data-size="medium" data-align="center">
        <div class="swiper-wrapper">
          {% for testimonial in testimonials %}
            <div class="slider-item swiper-slide">
              {% if testimonial.name %}
                <h3>{{ testimonial.name }}</h3>
              {% endif %}

              {% if testimonial.content %}
                <div>{{ testimonial.content }}</div>
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <button type="button" data-ref="prev" class="slider-button slider-button--prev" aria-label="{{ sliderOptions.a11y.prevSlideMessage|e }}"></button>
        <button type="button" data-ref="next" class="slider-button slider-button--next" aria-label="{{ sliderOptions.a11y.nextSlideMessage|e }}"></button>
      </div>
    {% endif %}
  </div>
</flynt-component>
